*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.container{
    width: 80%;
    /* border: 2px solid black; */
    margin: 0 auto;
}


body{
    text-align: center;
    margin-top: 13rem;
    border-width: 50%;
    background-color: aqua;
}

label{
    font-size: 24px;
}

.demo{
    margin: 0 auto;
    width: 40%;
    /* border: 2px solid black; */
    background-color: #9478a5;
    box-shadow: #dcd2e3;
    padding: 2.0rem;
    border-radius: 2rem;
}

p{
    font-size: 24px;
}

input{
    width: 60%;
    background-color: white;
    padding: 1.0rem 0;
    outline: none;
    border: none;
    border-radius: 2.0rem;
    text-align: center;
    
}

select{
    width: 60%;
    padding: 1.0rem 0;
    outline: none;
    border: none;
    border-radius: 2.0rem;
    text-align: center;

}

::placeholder{
    text-align: center;
}

.button{
    background-color: #b4713e;
    color: white;
}
